@using CamDoAnhTu.Models;

@model List<Loan>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <!-- DataTables CSS -->
    <link href="~/Assets/Admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->

    <link href="~/Assets/Admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Assets/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .dropdown {
            font-size: 21px;
        }
    </style>

}

@section js{
    <script src="~/Assets/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Assets/Admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

        $('a[data-del-proid]').on('click',
            function () {
                var loanid = $(this).attr('data-del-proid');
                $("#txtRemoveId").val(loanid);
                $("#frmRemoveItem").submit();

            });
        function deleteLoan(cusid) {

            $.ajax({
                cache: false,
                dataType: "json",
                type: "POST",
                url: '@Url.Action("DeteleLoan", "Loan")',
                data: { id: cusid },
                error: function(xhr, status, error) {
                    alert(error);
                },
                success: function(result, status, xhr) {
                    if (result != null) {
                        if (result.status == "success") {
                            window.location.reload(true);
                        } else if (result.status == "error") {
                            window.alert(result.message);
                            window.location.reload(true);
                        }
                    }
                }
            });
        }
    </script>
}


<div class="body-content" style="background-color: white;">
    <a class="btn btn-success" href="@Url.Action("LoadCustomer","Home",new {type = ViewBag.type})" role="button">
        <i class="fa fa-home"></i>Trang chủ
    </a>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead style="background-color: gold">
                    <tr>
                        <th>Ngày đóng</th>
                        <th>Số tiền đóng</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.Date</td>
                            <td>@p.money</td>
                            <td><a class="btn btn-danger btn-xs" href="javascript:" onclick="confirm('Bạn có thật sự muốn xóa?') ? deleteLoan(@p.ID) : null"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
    </div>
</div>