@using CamDoAnhTu.Models
@model Customer
@{
    List<Loan> lst = (List<Loan>)ViewData["Loan"];
    User us = CamDoAnhTu.Helper.Helper.GetUserInfo();

}


<div id="plan-info">

    @if (us.id_cuahang == -1)
    {
        <div class="row">
            @Html.Action("Management", "Home", new { type = -1 })
            @Html.Action("Management", "Home", new { type = 1 })
            @Html.Action("Management", "Home", new { type = 2 })
            @Html.Action("Management", "Home", new { type = 3 })
        </div>
        <div class="row">
            @Html.Action("Management", "Home", new { type = 4 })
            @Html.Action("Management", "Home", new { type = 5 })
            @Html.Action("Management", "Home", new { type = 6 })
            @Html.Action("Management", "Home", new { type = 7 })

        </div>
        <div class="row">
            @Html.Action("XE1", "Home", new { type = 12 })
            @Html.Action("XE1", "Home", new { type = 13 })
            @Html.Action("XE1", "Home", new { type = 14 })
            @Html.Action("XE1", "Home", new { type = 15 })

        </div>
        <div class="row">
            @Html.Action("XE1", "Home", new { type = 16 })
            @Html.Action("XE1", "Home", new { type = 17 })
        </div>

    }
    else if (us.id_cuahang == 1)
    {
        @Html.Action("Management", "Home", new { type = 1 })
    }
    else if (us.id_cuahang == 2)
    {
        @Html.Action("Management", "Home", new { type = 2 })
    }
    else if (us.id_cuahang == 3)
    {
        @Html.Action("Management", "Home", new { type = 3 })
    }
    else if (us.id_cuahang == 4)
    {
        @Html.Action("Management", "Home", new { type = 4 })
    }
    else if (us.id_cuahang == 5)
    {
        @Html.Action("Management", "Home", new { type = 5 })
    }
    else if (us.id_cuahang == 6)
    {
        @Html.Action("Management", "Home", new { type = 6 })
    }


</div>