@using CamDoAnhTu.Models;
@using CamDoAnhTu.Helper;
@model List<Customer>

@{
    ViewBag.Title = "LoadCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    int count = ((int)ViewBag.CurPage - 1) * 10;
    int type = (int)ViewBag.type;
    User us = CamDoAnhTu.Helper.Helper.GetUserInfo();


    List<Loan> t = (List<Loan>)ViewData["Loans"];
    List<Loan> loanAddManual = new List<Loan>();
}


@section css{
    <!-- DataTables CSS -->
    <link href="~/Assets/Admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->

    <link href="~/Assets/Admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Assets/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .dropdown {
            font-size: 21px;
        }
    </style>

}
@section js{

    
    <script type="text/javascript">
        function filterGlobal() {
            $('#dataTables-example').DataTable().search(
                $('#global_filter').val(),
                $('#global_regex').prop('checked'),
                $('#global_smart').prop('checked')
            ).draw();
        }

        function filterColumn(i) {
            $('#dataTables-example').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                $('#col' + i + '_regex').prop('checked'),
                $('#col' + i + '_smart').prop('checked')
            ).draw();
        }

        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                "aaSorting": [[0, "asc"]],
                "sPaginationType": "full_numbers",
                "paging": false,
                "searching": false,
                //"bProcessing": true,
                "bDeferRender": true,

                "order": [[0, "asc"]],
                "responsive": true,
                "ordering": true,
                "iDisplayLength": 10,
                "aLengthMenu": [[1, 10, 25, 50, 100, 500, 1000, -1], [1, 10, 25, 50, 100, 500, 1000, "All"]],
                "columnDefs": [
                    { "visible": false, "targets": 0 }
                ]
            });

            $('input.global_filter').on('keyup click',
                function () {
                    filterGlobal();
                });

            $('input.column_filter').on('keyup click',
                function () {
                    filterColumn($(this).parents('tr').attr('data-column'));
                });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#Name").autocomplete({
                source: "/Home/SearchName",
                select: function (event, ui) {

                }
            });

            $("#Code").autocomplete({
                source: "/Home/SearchCode",
                select: function (event, ui) {

                }
            });

            $("#Phone").autocomplete({
                source: "/Home/SearchPhone",
                select: function (event, ui) {
                }
            });

            $("#Address").autocomplete({
                source: "/Home/SearchAddress",
                select: function (event, ui) {
                }
            });

            $(function () {
                $("#datetime").datepicker({ dateFormat: "dd/mm/yy" }).val();
            });

            $(function () {
                $("#logoutLink").click(function () {
                    $("#logoutForm").submit();
                });
            });
        });
    </script>

    <script>
        function chuadongtien(idLoan, permission) {
            if (permission == 0) {
                return;
            }

            $("#divLoader").show();
            var idcus = document.getElementById("IDCUS_" + idLoan).value;
            var songaydong = document.getElementById("songaydong_" + idcus).value;
            var ct = document.getElementById('ct_' + idcus).value;
            if (ct == "") {
                ct = 0;
            } else {
                ct = parseInt(ct);
            }
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/Home/UpdateLoan',
                data: { loanid: idLoan, songaydong: songaydong, idcus: idcus },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $("#divLoader").hide();
                        $('#amount_' + idcus).val(data.amount);
                        $('#remain_' + idcus).val(data.remainingamount);

                        if (data.status == 1) {
                            ct = ct + data.ct;
                        }
                        $('#ct_' + idcus).val(ct);
                        if (data.songay > 0) {
                            for (var i = 0; i < data.songay; i++) {
                                var a = idLoan + i;
                                document.getElementById("item_" + a).className = "btn btn-success";

                                document.getElementById("item_" + a)
                                    .setAttribute("onclick", "return chuadongtien1(" + idLoan + "," + permission + ");");

                            }
                        } else {
                            document.getElementById("item_" + idLoan).className = "btn btn-success";

                            document.getElementById("item_" + idLoan)
                                .setAttribute("onclick", "return chuadongtien1(" + idLoan + "," + permission + ");");

                        }

                    } else {
                        $("#divLoader").hide();
                        alert(data.message);
                    }

                },
                error: function (textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function chuadongtien1(idLoan, permission) {
            if (permission != 1) {
                return;
            }

            $("#divLoader").show();
            var idcus = document.getElementById("IDCUS_" + idLoan).value;
            var songaydong = document.getElementById("songaydong_" + idcus).value;
            var ct = document.getElementById('ct_' + idcus).value;
            if (ct == "") {
                ct = 0;
            } else {
                ct = parseInt(ct);
            }

            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/Home/UpdateLoan',
                data: { loanid: idLoan, songaydong: songaydong, idcus: idcus },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $("#divLoader").hide();
                        $('#amount_' + idcus).val(data.amount);
                        $('#remain_' + idcus).val(data.remainingamount);

                        if (data.status == 0) {
                            ct = ct - data.ct;
                        }
                        $('#ct_' + idcus).val(ct);

                        if (data.songay > 0) {
                            for (var i = 0; i < data.songay; i++) {
                                var a = idLoan + i;
                                document.getElementById("item_" + a).className = "btn btn-danger";
                                document.getElementById("item_" + a)
                                    .setAttribute("onclick", "return chuadongtien(" + idLoan + "," + permission + ");");
                            }
                        } else {
                            document.getElementById("item_" + idLoan).className = "btn btn-danger";
                            document.getElementById("item_" + idLoan)
                                .setAttribute("onclick", "return chuadongtien(" + idLoan + "," + permission + ");");
                        }

                    } else {
                        $("#divLoader").hide();
                        alert(data.message);
                    }
                },
                error: function (textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function effect(idLoan) {

            if (confirm('Bạn có thật sự muốn kết thúc dây nợ không ? ')) {
                var idcus = document.getElementById("IDCUS_" + idLoan).value;
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: '/Home/Reset',
                    data: { id: idcus },
                    success: function (data) {
                        if (data.success) {
                            document.getElementById("effect_" + idcus).style.color = "green";
                            document.getElementById("item_" + idLoan).setAttribute("onclick", "");
                            location.reload();
                        } else
                            alert('có lỗi xảy ra');
                    },
                    error: function (textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });
            }
        }

        function deleteCus(cusid) {
            $.ajax({
                cache: false,
                dataType: "json",
                type: "POST",
                url: '@Url.Action("DeleteCustomer", "Home")',
                data: { id: cusid },
                error: function(xhr, status, error) {
                    alert(error);
                },
                success: function(result, status, xhr) {
                    if (result != null) {
                        if (result.status == "success") {
                            window.location.reload(true);
                        } else if (result.status == "error") {
                            window.alert(result.message);
                            window.location.reload(true);
                        }
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#pagesize').on('change',
                function () {
                    $('#form1').submit();
                });
        });

        function SumMoneyByCode() {
            var type = $("input[name=type]").val();
            var finaldate = $("input[name=datetime]").val();

            $.ajax({
                url: '/History/History',
                type: 'POST',
                data: { id: null, type: type, datetime: finaldate },
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    window.location.href = '/Home/LoadCustomer?type=' + result;
                }
            });
        }

        function ResetDatetime() {
            var type = $("input[name=type]").val();
            var message = document.getElementById("message").innerText;
            var finaldate = $("input[name=datetime]").val();

            $.ajax({
                url: '/Home/ResetDatetime',
                type: 'POST',
                data: { type: type, message: message, datetime: finaldate },
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    window.location.href = '/Home/LoadCustomer?type=' + result;
                }
            });
        }
    </script>

}

@if (Model.Count == 0)
{
    <div class="row">
        <form id="logoutForm" method="post" action="@Url.Action("Logout", "Account")"></form>
        <form method="post" id="frmUpdateLoan" action="">
            <input id="txtloanId" type="hidden" name="loanid" />
        </form>

        <div class="col-sm-3">
            <h2>Quản lí cầm đồ Anh Tú</h2>
        </div>

        <div class="col-lg-6">
            <span style="text-align:center;font-size:15px;color:red">

                @if (us.UserName == "admin")
                {
                    @:Số tiền gốc: @ViewBag.tiengoc<br />
                    @:Số tiền lãi dự kiến: @ViewBag.tienlai<br />
                    @:Số tiền lãi thực tế: @ViewBag.tienlaithucte<br />
                }
                @ViewBag.Message1

            </span>
            <a href="@Url.Action("Index", "Message",new {type=type,typemsg = type})" class="btn btn-dropbox">
                <i class="fa fa-ambulance"></i>&nbsp;Lịch sử tiền lãi thực tế
            </a>
        </div>

        <div class="col-lg-3" style="text-align: right; padding-right: 30px; padding-top: 20px">
            @if (us.Permission == 1)
            {
                <a href="@Url.Action("LoadAccount","Account", new {type = type})">Danh sách tài khoản</a><span>|</span>
            }
            <a id="logoutLink" href="#"><i class="glyphicon glyphicon-log-out"></i>Thoát</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a class="btn btn-success" href="@Url.Action("LoadCustomer","Home", new {type =type })" role="button">
                        <i class="fa fa-home"></i>Trang góp
                    </a>

                    <a href="@Url.Action("AddCustomer", "Home",new{type = type})" class="btn btn-default">
                        <i class="fa fa-plus"></i>&nbsp;Thêm khách hàng
                    </a>
                </div>
                <form class="navbar-form navbar-left" role="search" action="/Home/Search" style="height:50px">
                    <input type="hidden" value="@type" name="type" id="type" />
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Mã số:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Code" name="Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-sm-3 control-label">Tên khách hàng:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Name" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Điện thoại: </label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" id="Phone" name="Phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Địa chỉ: </label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" id="Address" name="Address" />
                        </div>
                    </div>
                    <span class="input-group-btn" style="float:left;margin-left:500px">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </form>

                <!-- /.panel-heading -->
                <text>Không có khách hàng !!</text>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <form id="logoutForm" method="post" action="@Url.Action("Logout", "Account")"></form>
        <form method="post" id="frmUpdateLoan" action="">
            <input id="txtloanId" type="hidden" name="loanid" />
        </form>

        <div class="col-sm-3">
            <h2>Quản lí cầm đồ Anh Tú</h2>
        </div>

        <div class="col-lg-6">
            <span style="text-align:center;font-size:15px;color:red">

                @if (us.UserName == "admin")
                {
                    @:Số tiền gốc: @ViewBag.tiengoc<br />
                    @:Số tiền lãi dự kiến: @ViewBag.tienlai<br />
                    @:Số tiền lãi thực tế: @ViewBag.tienlaithucte<br />
                }
                @ViewBag.Message1
                <a href="@Url.Action("Index", "Message",new {type = type , typemsg = type })" role="button">
                    Xem tiền lãi thực tế
                </a>
            </span>
        </div>

        <div class="col-lg-3" style="text-align: right; padding-right: 30px; padding-top: 20px">
            @if (us.Permission == 1)
            {
                <a href="@Url.Action("LoadAccount","Account", new {type = type})">Danh sách tài khoản</a><span>|</span>
            }
            <a id="logoutLink" href="#"><i class="glyphicon glyphicon-log-out"></i>Thoát</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a class="btn btn-success" href="@Url.Action("LoadCustomer","Home", new {type =type })" role="button">
                        <i class="fa fa-home"></i>Trang góp
                    </a>

                    <a href="@Url.Action("AddCustomer", "Home",new{type = type})" class="btn btn-default">
                        <i class="fa fa-plus"></i>&nbsp;Thêm khách hàng
                    </a>


                </div>
                <form class="form-horizontal" role="search" action="/Home/Search" style="margin-top:10px">
                    <input type="hidden" name="type" value="@type" />
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Tên khách hàng:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Name" name="Name" />
                        </div>
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Địa chỉ: </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="Address" name="Address" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Điện thoại: </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Phone" name="Phone" />
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="txtName" class="col-sm-2 control-label">Mã số:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Code" name="Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>

                    </div>

                </form>
                <div style="margin-left:25%">
                    @if (us.UserName == "admin")

                    {
                        using (Html.BeginForm("History", "History", FormMethod.Post, null))
                        {
                            <button type="submit" class="btn btn-dropbox">
                                <i class="fa fa-ambulance"></i>&nbsp;Tổng kết
                            </button>

                            <input type="hidden" class="form-control"
                                   name="type" id="type" value="@type" />

                            <div class="col-md-2">
                                <input type="text" class="col-lg-4 form-control"
                                       name="datetime" id="datetime" />
                            </div>
                        }


                        @*<a class="btn btn-dropbox" onclick="ResetDatetime()">
                                <i class="fa fa-ambulance"></i>&nbsp;Reset
                            </a>*@

                    }
                    else
                    {

                        using (Html.BeginForm("History", "History", FormMethod.Post, null))
                        {


                            <button type="submit" class="btn btn-dropbox">
                                <i class="fa fa-ambulance"></i>&nbsp;Tổng kết
                            </button>
                            <input type="hidden" class="form-control"
                                   name="type" id="type" value="@type" />

                            <div class="col-md-1">
                                <input type="text" class="form-control"
                                       name="datetime" id="datetime" value="@string.Format(" {0:dd/MM/yyyy}",DateTime.Now)" disabled />
                            </div>
                        }
                    }
                </div>

                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead style="background-color: gold">
                                <tr>
                                    <th></th>
                                    <th>Mã số</th>
                                    <th style="width: 2px">Mã chữ cái</th>
                                    <th style="width: 3px">Số thứ tự</th>
                                    <th style="width: 100px">Họ tên Đ/C</th>
                                    <th style="width: 100px">Ngày vay/SĐT</th>
                                    <th style="width: 30px">Nợ/Ngày nợ thêm</th>
                                    <th style="width: 30px">Đơn giá/ngày</th>
                                    <th style="width: 80px">Đã trả/Còn lại</th>
                                    <th style="width: 600px">
                                        <div id="divLoader" style="display: none;">
                                            <img src="~/Content/ajax-loader.gif" alt="Loader" />
                                        </div>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Customer p in Model)
                                {

                                    Loan k = new Loan();
                                    if (p.DayBonus == null)
                                    {
                                        p.DayBonus = 0;
                                    }

                                    using (CamdoAnhTuEntities1 ctx = new CamdoAnhTuEntities1())
                                    {
                                        t = ctx.Loans.Where(l => l.IDCus == p.ID && l.Type == false).OrderBy(l => l.Date).ToList();
                                        loanAddManual = ctx.Loans.Where(l => l.IDCus == p.ID && l.Type == true).OrderBy(l => l.Date).ToList();
                                        k = t.FirstOrDefault();
                                    }

                                    string id = p.Code;
                                    int day = 0;
                                    if (String.IsNullOrEmpty(p.Loan.ToString()) == false && String.IsNullOrEmpty(p.Price.ToString()) == false)
                                    {
                                        if (Int32.Parse(p.Price.ToString()) == 0)
                                        {
                                            day = 0;
                                        }
                                        else
                                        {
                                            day = Int32.Parse(p.Loan.ToString()) / Int32.Parse(p.Price.ToString());
                                        }

                                        if (day > 100)
                                        {
                                            day = 0;
                                        }
                                    }

                                    string loaigiayto = "";

                                    if (p.loaigiayto == 3) // k co giay to
                                    {
                                        loaigiayto = "style=" + "background-color:red";
                                    }
                                    else if (p.loaigiayto == 2) // giay to photo
                                    {
                                        loaigiayto = "style=" + "background-color:green";
                                    }
                                    else
                                    {
                                        loaigiayto = "";
                                    }

                                    count++;
                                    if (p.DayPaids == day || p.Description == "End")
                                    {
                                        <tr style="color:green">
                                            <td>@p.CodeSort</td>
                                            <td>@count</td>

                                            <td @loaigiayto>
                                                @p.Code.Substring(0, 2)

                                            </td>
                                            <td>@Int32.Parse(p.Code.Substring(2, p.Code.Length - 2))</td>
                                            <td>
                                                <p style="text-decoration: underline">@p.Name</p>
                                                <p>@p.Address</p>
                                                @if (p.OldCode != null)
                                                {
                                                    <p style="color: blue">Mã số cũ:@p.OldCode </p>
                                                }
                                            </td>
                                            <td>
                                                @p.StartDate.ToString("dd/MM/yyyy")<p>@p.Phone</p>
                                                @foreach (var item in loanAddManual)
                                                {
                                                    <p style="color:royalblue">@(item.Date.ToShortDateString() + " : " + item.money) </p>
                                                }
                                            </td>
                                            @if (p.Loan == null)
                                            {
                                                <td style="color: red">
                                                    Warning
                                                    <p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Loan)<p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }

                                            @if (p.Price == null)
                                            {
                                                <td style="color: red">Warning</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Price)<p>
                                                        <font color="red">@day</font>
                                                    </p>
                                                </td>
                                            }
                                            <td>
                                                @if (p.AmountPaid == null)
                                                {
                                                    p.AmountPaid = 0;
                                                }
                                                @if (p.RemainingAmount == null)
                                                {
                                                    p.RemainingAmount = 0;
                                                }
                                                <input style="width: 100px" type="text" readonly="" id="amount_@(p.ID)" value="@p.AmountPaid" />
                                                <input style="width: 100px" type="text" readonly="" id="remain_@(p.ID)" value="@p.RemainingAmount" />
                                                <input style="width: 100px" type="text" readonly="" id="ct_@(p.ID)" />
                                                <p>Số ngày đã trả : @p.DayPaids</p>
                                            </td>
                                            <td>
                                                <input style="width: 50px" type="text" id="songaydong_@(p.ID)" name="songaydong_@(p.ID)" class="form-control" />
                                                @foreach (Loan i in t)
                                                {
                                                    <input type="hidden" id="IDCUS_@(i.ID)" name="IDCUS_@(i.ID)" value="@p.ID" />


                                                    if (i.Status == 0)
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-danger" title="Chưa đóng tiền" role="button">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-success" title="Đã đóng tiền" role="button">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }
                                                }
                                                <a data-toggle="modal" data-id="@p.ID" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>

                                            </td>
                                            <td style="width: 100px">

                                                <a href="@Url.Action("Detail", "Home", new {id = @p.ID})" role="button" title="Chi tiết">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                                <a href="@Url.Action("History", "History", new {id = @p.ID, type})" role="button" title="Lịch sử">
                                                    <i class="fa fa-history"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Print", new {code = @p.Code})" role="button" title="In">
                                                    <i class="fa fa-print"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Loan", new {idcus = @p.ID,type})" role="button" title="Quản lí nợ">
                                                    <i class="fa fa-adjust"></i>
                                                </a>
                                                @if (us.Permission == 1) // admin
                                                {
                                                    <a class="btn btn-danger btn-xs" href="javascript:" onclick="confirm('Bạn có thật sự muốn xóa?') ? deleteCus('@p.ID') : null"><i class="fa fa-remove"></i></a>

                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else if (us.Permission == 2) // duoc them
                                                {
                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else // chi xem
                                                {

                                                }
                                            </td>
                                        </tr>
                                    }
                                    else if (p.NgayNo >= 3 + Int32.Parse(p.DayBonus.ToString()))
                                    {
                                        <tr style="color:red" id="effect_@(p.ID)">
                                            <td>@p.CodeSort</td>
                                            <td>@count</td>

                                            <td @loaigiayto>
                                                @p.Code.Substring(0, 2)
                                            </td>
                                            <td>@Int32.Parse(p.Code.Substring(2, p.Code.Length - 2))</td>


                                            <td>
                                                <p style="text-decoration: underline">@p.Name</p>
                                                <p>@p.Address</p>
                                                @if (p.OldCode != null)
                                                {
                                                    <p style="color: blue">Mã số cũ:@p.OldCode </p>
                                                }
                                            </td>
                                            <td>
                                                @p.StartDate.ToString("dd/MM/yyyy")<p>@p.Phone</p>
                                                @foreach (var item in loanAddManual)
                                                {
                                                    <p style="color:royalblue">@(item.Date.ToShortDateString() + " : " + item.money) </p>
                                                }
                                            </td>
                                            @if (p.Loan == null)
                                            {
                                                <td style="color: red">
                                                    Warning
                                                    <p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Loan)<p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }

                                            @if (p.Price == null)
                                            {
                                                <td style="color: red">Warning</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Price)<p>
                                                        <font color="red">@day</font>
                                                    </p>
                                                </td>
                                            }
                                            <td>
                                                @if (p.AmountPaid == null)
                                                {
                                                    p.AmountPaid = 0;
                                                }
                                                @if (p.RemainingAmount == null)
                                                {
                                                    p.RemainingAmount = 0;
                                                }
                                                <input style="width: 100px" type="text" readonly="" id="amount_@(p.ID)" value="@p.AmountPaid" />
                                                <input style="width: 100px" type="text" readonly="" id="remain_@(p.ID)" value="@p.RemainingAmount" />
                                                <input style="width: 100px" type="text" readonly="" id="ct_@(p.ID)" />
                                                <p>Số ngày đã trả : @p.DayPaids</p>
                                            </td>
                                            <td>
                                                <input style="width: 50px" type="text" id="songaydong_@(p.ID)" name="songaydong_@(p.ID)" class="form-control" />
                                                @foreach (Loan i in t)
                                                {
                                                    <input type="hidden" id="IDCUS_@(i.ID)" name="IDCUS_@(i.ID)" value="@p.ID" />



                                                    if (i.Status == 0)
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-danger" title="Chưa đóng tiền" role="button" id="item_@(i.ID)" onclick="return chuadongtien(@i.ID,@us.Permission);">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-success" title="Đã đóng tiền" role="button" id="item_@(i.ID)" onclick="return chuadongtien1(@i.ID,@us.Permission);">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }

                                                }
                                                <a data-toggle="modal" data-id="@p.ID" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td style="width: 100px">
                                                <a href="@Url.Action("Detail", "Home", new {id = @p.ID})" role="button" title="Chi tiết">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                                <a href="@Url.Action("History", "History", new {id = @p.ID,type})" role="button" title="Lịch sử">
                                                    <i class="fa fa-history"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Print", new {code = @p.Code})" role="button" title="In">
                                                    <i class="fa fa-print"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Loan", new {idcus = @p.ID,type})" role="button" title="Quản lí nợ">
                                                    <i class="fa fa-adjust"></i>
                                                </a>
                                                @if (us.Permission == 1) // admin
                                                {
                                                    <a class="btn btn-danger btn-xs" href="javascript:" onclick="confirm('Bạn có thật sự muốn xóa?') ? deleteCus('@p.ID') : null"><i class="fa fa-remove"></i></a>

                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else if (us.Permission == 2) // duoc them
                                                {
                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else // chi xem
                                                {

                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="effect_@(p.ID)">
                                            <td>@p.CodeSort</td>
                                            <td>@count</td>

                                            <td>
                                                @p.Code.Substring(0, 2)

                                            </td>
                                            <td>@Int32.Parse(p.Code.Substring(2, p.Code.Length - 2))</td>


                                            <td>
                                                <p style="text-decoration: underline">@p.Name</p>
                                                <p>@p.Address</p>
                                                @if (p.OldCode != null)
                                                {
                                                    <p style="color: blue">Mã số cũ:@p.OldCode </p>
                                                }
                                            </td>
                                            <td>
                                                @p.StartDate.ToString("dd/MM/yyyy")<p>@p.Phone</p>
                                                @foreach (var item in loanAddManual)
                                                {
                                                    <p style="color:royalblue">@(item.Date.ToShortDateString() + " : " + item.money) </p>
                                                }
                                            </td>
                                            @if (p.Loan == null)
                                            {
                                                <td style="color: red">
                                                    Warning
                                                    <p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Loan)<p>@p.DayBonus</p>
                                                    <p style="color: blue">@p.Note</p>
                                                </td>
                                            }

                                            @if (p.Price == null)
                                            {
                                                <td style="color: red">Warning</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @string.Format("{0:N0}", p.Price)<p>
                                                        <font color="red">@day</font>
                                                    </p>
                                                </td>
                                            }
                                            <td>
                                                @if (p.AmountPaid == null)
                                                {
                                                    p.AmountPaid = 0;
                                                }
                                                @if (p.RemainingAmount == null)
                                                {
                                                    p.RemainingAmount = 0;
                                                }
                                                <input style="width: 100px" type="text" readonly="" id="amount_@(p.ID)" value="@p.AmountPaid" />
                                                <input style="width: 100px" type="text" readonly="" id="remain_@(p.ID)" value="@p.RemainingAmount" />
                                                <input style="width: 100px" type="text" readonly="" id="ct_@(p.ID)" />
                                                <p>Số ngày đã trả : @p.DayPaids</p>
                                            </td>
                                            <td>
                                                <input style="width: 50px" type="text" id="songaydong_@(p.ID)" name="songaydong_@(p.ID)" class="form-control" />
                                                @foreach (Loan i in t)
                                                {
                                                    <input type="hidden" id="IDCUS_@(i.ID)" name="IDCUS_@(i.ID)" value="@p.ID" />


                                                    if (i.Status == 0)
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-danger" title="Chưa đóng tiền" role="button" id="item_@(i.ID)" onclick="return chuadongtien(@i.ID,@us.Permission);">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="width: 47px; text-align: left; float: left" class="btn btn-success" title="Đã đóng tiền" role="button" id="item_@(i.ID)" onclick="return chuadongtien1(@i.ID,@us.Permission);">
                                                            @i.Date.ToString("dd.MM")
                                                        </a>
                                                    }


                                                }
                                                <a data-toggle="modal" data-id="@p.ID" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td style="width: 100px">
                                                <a href="@Url.Action("Detail", "Home", new {id = @p.ID})" role="button" title="Chi tiết">
                                                    <i class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                                <a href="@Url.Action("History", "History", new {id = @p.ID,type})" role="button" title="Lịch sử">
                                                    <i class="fa fa-history"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Print", new {code = @p.Code})" role="button" title="In">
                                                    <i class="fa fa-print"></i>
                                                </a>
                                                <a href="@Url.Action("Index", "Loan", new {idcus = @p.ID,type})" role="button" title="Quản lí nợ">
                                                    <i class="fa fa-adjust"></i>
                                                </a>
                                                @if (us.Permission == 1) // admin
                                                {
                                                    <a class="btn btn-danger btn-xs" href="javascript:" onclick="confirm('Bạn có thật sự muốn xóa?') ? deleteCus('@p.ID') : null"><i class="fa fa-remove"></i></a>

                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else if (us.Permission == 2) // duoc them
                                                {
                                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Update", "Home", new {id = @p.Code,type = type})" role="button" title="Chỉnh sửa">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-primary btn-xs" role="button" title="Kết thúc dây nợ" onclick="return effect(@k.ID);">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                }
                                                else // chi xem
                                                {

                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <nav style="margin-top:20px; margin-left:50px">
                            <ul class="pagination">
                                <li class="@(ViewBag.CurPage==1 ? "disabled": "")">
                                    <a href="@Url.Action("LoadCustomer", "Home", new { page = ViewBag.CurPage - 1,type = ViewBag.type })" aria-label="Pre aria-label=" previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                    <li class="@(ViewBag.CurPage==i ? "active": "")">
                                        <a href="@Url.Action("LoadCustomer", "Home", new {page = i,type = ViewBag.type })">@i</a>
                                    </li>
                                }
                                <li class="@(ViewBag.CurPage==ViewBag.PageCount ? "disabled": "")">
                                    <a href="@Url.Action("LoadCustomer", "Home", new { page = ViewBag.CurPage + 1,type = ViewBag.type })" aria-label="Nex aria-label=" next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <hr />
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
}